<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h5><span class="bg-gray pl-4 pr-4"><strong>商品新規登録</strong></span></h5>
    </div>
  </div><br>

  <div class="row">
    <div class="mx-auto col-9">
    <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
    <table class="table-borderless">
      <tbody>
        <tr>
          <td class="pr-5 pb-2">商品画像</td>
          <td class="pb-2"><%= f.file_field :image, accept: "image/*" %></td>
        </tr>

        <tr>
          <td class="pr-5 pb-2">商品名</td>
          <td class="pb-2"><%= f.text_field :name, placeholder: "商品名", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="pr-5 pb-2">商品説明</td>
          <td class="pb-2"><%= f.text_area :introduction, placeholder: "ここに説明文を記述します", class: "form-control" %></td>
        </tr>

        <tr>
          <td class="pr-5 pb-2">ジャンル</td>
          <td class="pb-2"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name, f.object.genre_id), include_blank: "-- 選択してください --　　" %></td>
        </tr>

        <tr>
          <td class="pr-5 pb-2">税抜価格</td>
          <td class="pb-2"><%= f.text_field :price, placeholder: "1000", class: "form-control" %></td>
          <td>円</td>
        </tr>

        <tr>
          <td class="pr-5 pb-2">販売ステータス</td>
          <td class="pb-2">
              <%= f.radio_button :is_sold, "sale" %>
              <%= f.label :is_sold_true, "販売中" %>
          </td>
          <td class="pb-2">
              <%= f.radio_button :is_sold, "end_of_sale" %>
              <%= f.label :is_sold_false, "販売停止中" %>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div><br>

  <div class="row justify-content-center">
    <%= f.submit "新規登録", class: "btn btn-success pl-4 pr-4" %>
    <% end %>
  </div>
</div>
<br>