<div class="container">
  <div class="row">
    <div class="mx-auto col-11">
      <h5><span class="bg-gray pl-4 pr-4">管理者ログイン</span></h5><br>

        <table class="table table-borderless col-sm-8">
          <tbody>
          <tr>
          <%= form_with model: @admin, url: admin_session_path do |f| %>
          <div class="field">
          <td></td>
          <td></td>
          <td><%= f.label :メールアドレス%></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %></td>
          </div>
          </tr>

          <tr>
          <div class="field">
          <td></td>
          <td></td>
          <td><%= f.label :パスワード%></td>
          <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
          </div>
          </tr>

          <tr>
          <div class="actions">
          <td></td>
          <td></td>
          <td></td>
          <td class="pt-4"><%= f.submit "ログイン", class: "btn btn-primary pl-5 pr-5" %></td>
          </div>
          <% end %>
          </tr>
          </tbody>
        </table>
        <br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>