<div class="container mt-3">
  <div class="row">
    <div class="mx-auto col-11">
      <h5><span class="bg-gray px-4"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</span></h5>
      <br>
      <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>

        <table class="table-borderless">
          <tbody>
          <tr>
            <div class="field">
            <td class="pb-2 pr-5"><%= f.label :id, "会員ID" %></td>
            <td class="pb-2"><%= @customer.id %></td>
            </div>
          </tr>

          <tr>
            <div class="field">
            <td class="pb-2 pr-5"><%= f.label :"氏名" %></td>
            <td class="pb-2"><%= f.text_field :last_name, class: "form-control" %></td>
            <td class="pr-5"></td>
            <td class="pb-2"><%= f.text_field :first_name, class: "form-control" %></td>
            </div>
          </tr>

          <tr>
            <div class="field">
            <td class="pb-2 pr-5"><%= f.label :"フリガナ" %></td>
            <td class="pb-2"><%= f.text_field :last_name_kana, class: "form-control" %></td>
            <td class="pr-5"></td>
            <td class="pb-2"><%= f.text_field :first_name_kana, class: "form-control" %></td>
            </div>
          </tr>

          <tr>
            <div class="field">
            <td class="pb-2 pr-5"><%= f.label :"郵便番号" %></td>
            <td class="pb-2"><%= f.text_field :postal_code, class: "form-control" %></td>
            </div>
          </tr>

          <tr>
            <div class="field">
            <td class="pb-2 pr-5"><%= f.label :"住所" %></td>
            <td colspan="5" class="pb-2"><%= f.text_field :address, class: "form-control" %></td>
            </div>
          </tr>

          <tr>
            <div class="field">
            <td class="pb-2 pr-5"><%= f.label :"電話番号" %></td>
            <td class="pb-2"><%= f.text_field :telephone_number, class: "form-control" %></td>
            </div>
          </tr>

          <tr>
            <div class="field">
            <td class="pb-2 pr-5"><%= f.label :"メールアドレス" %></td>
            <td class="pb-2"><%= f.email_field :email, class: "form-control" %></td>
            </div>
          </tr>

        <tr>
          <td class="pr-5 pb-2">会員ステータス</td>
          <td class="pb-2">
              <%= f.radio_button :is_active, "true" %>
              <%= f.label :is_active_true, "有効", class: "mr-5" %>
              <%= f.radio_button :is_active, "false" %>
              <%= f.label :is_active_false, "退会" %>
          </td>
        </tr>

          <tr>
            <div class="actions">
            <td class="pr-5"></td>
            <td class="pt-4"><%= f.submit "変更を保存", class: "btn btn-success px-4 py-2" %></td>
            </div>
          </tr>

          </tbody>
        </table>
      <% end %>
    <br><br><br>
    </div>
  </div>
</div>
