<div class="container mt-3">
  <div class="row">
    <div class="col-11 mx-auto">
      <h5><span class="bg-gray px-4">注文情報入力</span></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mx-auto">
      <h6><strong>支払方法</strong></h6>
      <%= form_with model: @order, url: '/orders', method: :post do |f| %>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %><br>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>

      <h6><strong>お届け先</strong></h6>
      <%= f.radio_button :address, "your_address" %>
      <%= f.label :address_your_address, "ご自身の住所" %>
      <%= @order.current_customer.postal_code %> <%= @order.current_customer.address %><br>
      <%= @order.current_customer.last_name %><%= @order.current_customer.first_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 mx-auto">
      <%= f.submit '確認画面へ進む', class: "btn btn-primary px-2" %>
      <% end %>
    </div>
  </div>
</div>