<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="border border-dark m-3">
  <header  class="border-bottom border-secondary p-2">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container pr-0">
        <span class="navbar-brand border border-dark">　　LOGO　　</span>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li class="nav-item mr-4">
              <%= link_to "商品一覧", admin_items_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to "注文履歴一覧", admin_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary" %>
            </li>
          <% elsif customer_signed_in? %>
            <li class="nav-item mr-4">
              <%= link_to "マイページ", customers_mypage_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to "商品一覧", items_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to "カート", cart_items_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary" %>
            </li>
          <% else %>
             <li class="nav-item mr-4">
              <%= link_to "About", about_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to "商品一覧", items_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item mr-4">
              <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-secondary" %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
    <main class="p-3">
    <%= yield %>
    </main>
  <footer class="border-top border-secondary">
    <br>
    <br>
    <br>
    <br>
  </footer>
  </body>
</html>
